.btn {
--bs-btn-active-bg: rgb(220,60,20);
--bs-btn-hover-bg: #88f3f9;
}

body {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,219,88,0.008841036414565795) 2%, rgba(0,212,255,1) 100%);
}

.nav-item:hover {
  background-color: #f9d588;
}

.btn__shop {
  background-color: #f9d588;
}

.btn:active {
  background-color: crimson;
}

.profile_btn {
  background-color: white;
  border-color: #fff;
}

.profile_btn:active {
  scale: 0.9;
  border-color: #fff;
}

.pic__zoom:hover {
  transform: scale(2);
  background-color: whitesmoke;
  -webkit-transition: all 1s ease;
  transition: all 0.5s ease;
}

#liveToastBtn:hover {
  background-color: whitesmoke;
}

.table {
  text-align: center;
}
